<nav class="site-nav">
    <div class="site-nav-left">
        <div class="site-nav-left-content">
            {{#if @site.logo}}
                <a class="site-nav-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
            {{else}}
                <a class="site-nav-logo" href="{{@site.url}}">{{@site.title}}</a>
            {{/if}}
            <div class="site-nav-content">
                {{#if @site.navigation}}
                    {{navigation}}
                {{/if}}
                {{#is "post"}}
                    <span class="nav-post-title {{#unless @site.logo}}dash{{/unless}}">{{post.title}}</span>
                {{/is}}
            </div>
        </div>
    </div>
    <div class="site-nav-right">
        {{#if @member}}
            <a class="account-link" href="/account/">Account</a>
            <a class="button small header-cta signout-link" href="#signout" data-members-signout>Log out</a>
        {{else}}
            <a class="signin-link" href="/signin/">Log in</a>
            <a class="button primary small header-cta" href="/signup/">Subscribe</a>
        {{/if}}
    </div>
</nav>
