<nav class="site-nav">
    <div class="site-nav-left">
        <div class="site-nav-left-content">
            {{#if @site.logo}}
                <a class="site-nav-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
            {{else}}
                <a class="site-nav-logo" href="{{@site.url}}">{{@site.title}}</a>
            {{/if}}
            <div class="site-nav-content">
                {{#if @site.navigation}}
                    {{navigation}}
                {{/if}}
                {{#is "post"}}
                    <span class="nav-post-title {{#unless @site.logo}}dash{{/unless}}">{{post.title}}</span>
                {{/is}}
            </div>
        </div>
    </div>
    <div class="site-nav-right">
        {{#if @member}}
            <div class="account-menu">
                <a href="javascript:" class="account-menu-avatar" id="account-menu" type="checkbox" name="menu">
                    {{> "icons/avatar"}}
                    {{#if @member.avatar_image}}
                        <img src="{{@member.avatar_image}}" />
                    {{/if}}
                </a>
                <ul class="account-menu-dropdown">
                    <li class="account-info">
                        <small>Signed in as</small>
                        <span class="account-email" title="{{@member.email}}">{{@member.email}}</span>
                    </li>
                    <li><a href="{{@site.url}}/account/">Account</a></li>
                    <li><a href="#signout" data-members-signout>Log out</a></li>
                </ul>
            </div>
        {{else}}
            <a class="signin-link" href="{{@site.url}}/signin/">Log in</a>
            <a class="button primary small header-cta" href="{{@site.url}}/signup/">Subscribe</a>
        {{/if}}
    </div>
</nav>
