{{!< ../default}}

<header class="site-header">
    {{> site-header}}
</header>
<main id="site-main" class="site-main site-account outer">
    <div class="inner">

    {{#if @member.paid}}

        {{!-- Logged in, paying member: Show account info --}}
        <article class="post-content">
            <div class="container">
                <div class="content">
                    <form class="authbox">
                        <h1 class="authbox-title">Account</h1>

                        <div class="authbox-signup">
                            {{#foreach @member.subscriptions}}

                            {{#if cancel_at_period_end}}
                                <p>
                                    Your subscription will end on {{date current_period_end format="DD MMM YYYY"}}.
                                    If you change your mind in the meantime you can turn on renew and
                                    continue having access to all the content on {{@site.title}}.
                                </p>
                                <button class="button small" data-members-uncancel-subscription="{{id}}">
                                    Turn on auto-renew
                                    <p data-members-error><!-- error message will appear here --></p>
                                </button>

                                <ul>
                                    <li><strong>Email</strong> {{@member.email}}</li>
                                </ul>
                            {{else}}
                                <p>
                                    You have a premium membership on {{@site.title}}. Your subscription will automatically
                                    renew on <strong>{{date current_period_end format="DD MMM YYYY"}}</strong> and you'll be charged
                                    <strong><span class="plan-price">0</span> USD</strong>.
                                </p>

                                <ul>
                                    <li><strong>Email</strong> {{@member.email}}</li>
                                    <li><strong>Subscription</strong> {{plan.interval}}ly - <span class="plan-price">0</span> USD/{{plan.interval}}</li>
                                    <li><strong>Card </strong>**** **** **** {{default_payment_card_last4}}</li>
                                    <li><strong>Next renewal </strong>{{date current_period_end format="DD MMM YYYY"}}</li>
                                </ul>

                                <button class="button small" data-members-cancel-subscription="{{id}}">
                                    Cancel subscription
                                    <p data-members-error><!-- error message will appear here --></p>
                                </button>
                            {{/if}}

                            {{#contentFor "scripts"}}
                            <script>
                                $(document).ready(function () {
                                    var planAmount = {{plan.amount}} / 100;
                                    $(".plan-price").html(planAmount);
                                });
                            </script>
                            {{/contentFor}}

                            {{/foreach}}
                        </div>
                    </form>
                </div>
            </div>
        </article>

    {{else if @member}}

        {{!-- Logged in, not paying: Link to checkout --}}
        <div class="account-box">
            <h1 class="account-box-title">Currently, you're not a subscriber</h1>
            <p>Hey there! <strong>{{@member.email}}</strong> is subscribed to free updates from {{@site.title}}, but doesn't have a paid subscription to unlock full access.</p>
            <div class="authbox-signup">
                <a class="button primary" href="/signup/">
                    <span class="button-content">Subscribe now</span>
                </a>
            </div>
        </div>

    {{else}}

        {{!-- Not logged in: Redirect to signin --}}
        <script>window.location = '{{@site.url}}/signin/';</script>

    {{/if}}

    </div>
</main>
