{{!< ../default}}

<header class="site-header">
    {{> site-header}}
</header>
<main id="site-main" class="site-main site-account outer">
    <div class="inner">

    {{#if @member.paid}}

        {{!-- Logged in, paying member: Show account info --}}
        <article class="post-content">
            <div class="container">
                <div class="content">
                    <form class="authbox">
                        <h1 class="authbox-title">Nice, you're a subscriber!</h1>
                        <p>Hey! <strong>{{@member.email}}</strong> has an active {{@site.title}} account with access to all areas. You're all set, but if you need any help, get in touch on <code>support@rediverge.com</code> for assistance!</p>
                        <div class="authbox-signup">
                            {{#foreach @member.subscriptions}}

                            <ul>
                                <li><strong>Plan:</strong>$<span class="plan-price">0</span>/{{plan.interval}}</li>
                                <li><strong>Card:</strong> **** **** **** {{default_payment_card_last4}}</li>
                                <li><strong>Renews:</strong> {{date current_period_end format="DD MMM YYYY"}}</li>
                                <li>
                                    <button class="button small" data-members-cancel-subscription="{{id}}">
                                        Unsubscribe!
                                    </button>
                                </li>
                                <li data-members-subscription-error="true"></li>
                            </ul>

                            {{#contentFor "scripts"}}
                            <script>
                                $(document).ready(function () {
                                    var planAmount = {{plan.amount}} / 100;
                                    $(".plan-price").html(planAmount);
                                });
                            </script>
                            {{/contentFor}}

                            {{/foreach}}
                        </div>
                    </form>
                </div>
            </div>
        </article>

    {{else if @member}}

        {{!-- Logged in, not paying: Link to checkout --}}
        <div class="account-box">
            <h1 class="account-box-title">Currently, you're not a subscriber</h1>
            <p>Hey there! <strong>{{@member.email}}</strong> is subscribed to free updates from {{@site.title}}, but doesn't have a paid subscription to unlock full access.</p>
            <div class="authbox-signup">
                <a class="button primary" href="/signup/">
                    <span class="button-content">Subscribe now</span>
                </a>
            </div>
        </div>

    {{else}}

        {{!-- Not logged in: Redirect to signin --}}
        <script>window.location = '{{@site.url}}/signin/';</script>

    {{/if}}

    </div>
</main>
